In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("SunS.csv")  # Update with your file path

# Convert from wide to long format
df_long = df.melt(id_vars=["Year", "Month"], var_name="Day", value_name="Sun Shine")

# Convert Day to integer
df_long["Day"] = df_long["Day"].astype(int)

# Drop rows with missing Sun Shine (e.g. 31 Feb, 30 Apr etc.)
df_long = df_long.dropna(subset=["Sun Shine"])

# Create proper Date column in DD/MM/YYYY format
df_long["Date"] = df_long["Day"].astype(str).str.zfill(2) + "/" + \
                  df_long["Month"].astype(str).str.zfill(2) + "/" + \
                  df_long["Year"].astype(str)

# Final output
df_final = df_long[["Date", "Sun Shine"]].reset_index(drop=True)

# Save to file (optional)
df_final.to_csv("Sun Shine_Daily_Distribution.csv", index=False)

# Show preview
print(df_final.head(15))

          Date Sun Shine
0   01/01/1981      ****
1   01/02/1981      ****
2   01/03/1981      10.1
3   01/04/1981       2.1
4   01/05/1981       9.3
5   01/06/1981       4.1
6   01/07/1981         0
7   01/08/1981      ****
8   01/09/1981      ****
9   01/10/1981         8
10  01/11/1981      ****
11  01/12/1981      ****
12  01/01/1982       7.9
13  01/02/1982       4.7
14  01/03/1982       4.5

In [2]:
import pandas as pd

df = pd.read_csv("Sun Shine_Daily_Distribution.csv")

In [3]:
print(df.head(10))

         Date Sun Shine
0  01/01/1981      ****
1  01/02/1981      ****
2  01/03/1981      10.1
3  01/04/1981       2.1
4  01/05/1981       9.3
5  01/06/1981       4.1
6  01/07/1981         0
7  01/08/1981      ****
8  01/09/1981      ****
9  01/10/1981         8

In [4]:
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")
df = df.sort_values("Date").reset_index(drop=True)
df["Date"] = df["Date"].dt.strftime("%d/%m/%Y")

In [5]:
df

            Date Sun Shine
0     01/01/1981      ****
1     02/01/1981      ****
2     03/01/1981      ****
3     04/01/1981      ****
4     05/01/1981      ****
...          ...       ...
4378  27/12/1994       6.3
4379  28/12/1994       6.5
4380  29/12/1994       8.1
4381  30/12/1994       7.5
4382  31/12/1994       7.5

[4383 rows x 2 columns]

In [6]:
df.to_csv("Sun Shine_Daily_Distribution_Fixed.csv", index=False)

In [7]:
# Check for missing values
missing_summary = df.isnull().sum()

# Show where missing values exist
print(missing_summary)

Date         0
Sun Shine    0
dtype: int64

In [8]:
# Check if any cell contains '***'
contains_stars = df.applymap(lambda x: '****' in str(x)).any().any()

if contains_stars:
    print("CSV file er kono cell e '****' ache.")
else:
    print("CSV file er kono cell e '****' nei.")

CSV file er kono cell e '****' ache.

C:\Users\Hp\AppData\Local\Temp\ipykernel_8212\525864041.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  contains_stars = df.applymap(lambda x: '****' in str(x)).any().any()

In [9]:
df

            Date Sun Shine
0     01/01/1981      ****
1     02/01/1981      ****
2     03/01/1981      ****
3     04/01/1981      ****
4     05/01/1981      ****
...          ...       ...
4378  27/12/1994       6.3
4379  28/12/1994       6.5
4380  29/12/1994       8.1
4381  30/12/1994       7.5
4382  31/12/1994       7.5

[4383 rows x 2 columns]

In [11]:
# Je cells e '***' ache segular index list ber korbo
cells_with_stars = []

for row_idx, row in df.iterrows():
    for col in df.columns:
        cell_value = str(row[col])
        if '***' in cell_value:
            cells_with_stars.append((row_idx, col))

if cells_with_stars:
    print("Cells with '***' found at:")
    for cell in cells_with_stars:
        print(f"Row: {cell[0]}, Column: {cell[1]}")
else:
    print("No cells with '***' found.")

Cells with '***' found at:
Row: 0, Column: Sun Shine
Row: 1, Column: Sun Shine
Row: 2, Column: Sun Shine
Row: 3, Column: Sun Shine
Row: 4, Column: Sun Shine
Row: 5, Column: Sun Shine
Row: 6, Column: Sun Shine
Row: 7, Column: Sun Shine
Row: 8, Column: Sun Shine
Row: 9, Column: Sun Shine
Row: 10, Column: Sun Shine
Row: 11, Column: Sun Shine
Row: 12, Column: Sun Shine
Row: 13, Column: Sun Shine
Row: 14, Column: Sun Shine
Row: 15, Column: Sun Shine
Row: 16, Column: Sun Shine
Row: 17, Column: Sun Shine
Row: 18, Column: Sun Shine
Row: 19, Column: Sun Shine
Row: 20, Column: Sun Shine
Row: 21, Column: Sun Shine
Row: 22, Column: Sun Shine
Row: 23, Column: Sun Shine
Row: 24, Column: Sun Shine
Row: 25, Column: Sun Shine
Row: 26, Column: Sun Shine
Row: 27, Column: Sun Shine
Row: 28, Column: Sun Shine
Row: 29, Column: Sun Shine
Row: 30, Column: Sun Shine
Row: 31, Column: Sun Shine
Row: 32, Column: Sun Shine
Row: 33, Column: Sun Shine
Row: 34, Column: Sun Shine
Row: 35, Column: Sun Shine
Row: 36, Column: Sun Shine
Row: 37, Column: Sun Shine
Row: 38, Column: Sun Shine
Row: 39, Column: Sun Shine
Row: 40, Column: Sun Shine
Row: 41, Column: Sun Shine
Row: 42, Column: Sun Shine
Row: 43, Column: Sun Shine
Row: 44, Column: Sun Shine
Row: 45, Column: Sun Shine
Row: 46, Column: Sun Shine
Row: 47, Column: Sun Shine
Row: 48, Column: Sun Shine
Row: 49, Column: Sun Shine
Row: 50, Column: Sun Shine
Row: 51, Column: Sun Shine
Row: 52, Column: Sun Shine
Row: 53, Column: Sun Shine
Row: 54, Column: Sun Shine
Row: 55, Column: Sun Shine
Row: 56, Column: Sun Shine
Row: 57, Column: Sun Shine
Row: 58, Column: Sun Shine
Row: 198, Column: Sun Shine
Row: 199, Column: Sun Shine
Row: 200, Column: Sun Shine
Row: 201, Column: Sun Shine
Row: 202, Column: Sun Shine
Row: 203, Column: Sun Shine
Row: 204, Column: Sun Shine
Row: 205, Column: Sun Shine
Row: 206, Column: Sun Shine
Row: 207, Column: Sun Shine
Row: 208, Column: Sun Shine
Row: 209, Column: Sun Shine
Row: 210, Column: Sun Shine
Row: 211, Column: Sun Shine
Row: 212, Column: Sun Shine
Row: 213, Column: Sun Shine
Row: 214, Column: Sun Shine
Row: 215, Column: Sun Shine
Row: 216, Column: Sun Shine
Row: 217, Column: Sun Shine
Row: 218, Column: Sun Shine
Row: 219, Column: Sun Shine
Row: 220, Column: Sun Shine
Row: 221, Column: Sun Shine
Row: 222, Column: Sun Shine
Row: 223, Column: Sun Shine
Row: 224, Column: Sun Shine
Row: 225, Column: Sun Shine
Row: 226, Column: Sun Shine
Row: 227, Column: Sun Shine
Row: 228, Column: Sun Shine
Row: 229, Column: Sun Shine
Row: 230, Column: Sun Shine
Row: 231, Column: Sun Shine
Row: 232, Column: Sun Shine
Row: 233, Column: Sun Shine
Row: 234, Column: Sun Shine
Row: 235, Column: Sun Shine
Row: 236, Column: Sun Shine
Row: 237, Column: Sun Shine
Row: 238, Column: Sun Shine
Row: 239, Column: Sun Shine
Row: 240, Column: Sun Shine
Row: 241, Column: Sun Shine
Row: 242, Column: Sun Shine
Row: 243, Column: Sun Shine
Row: 244, Column: Sun Shine
Row: 245, Column: Sun Shine
Row: 246, Column: Sun Shine
Row: 247, Column: Sun Shine
Row: 248, Column: Sun Shine
Row: 249, Column: Sun Shine
Row: 250, Column: Sun Shine
Row: 251, Column: Sun Shine
Row: 286, Column: Sun Shine
Row: 287, Column: Sun Shine
Row: 288, Column: Sun Shine
Row: 289, Column: Sun Shine
Row: 303, Column: Sun Shine
Row: 304, Column: Sun Shine
Row: 305, Column: Sun Shine
Row: 306, Column: Sun Shine
Row: 307, Column: Sun Shine
Row: 308, Column: Sun Shine
Row: 309, Column: Sun Shine
Row: 310, Column: Sun Shine
Row: 311, Column: Sun Shine
Row: 312, Column: Sun Shine
Row: 313, Column: Sun Shine
Row: 314, Column: Sun Shine
Row: 315, Column: Sun Shine
Row: 316, Column: Sun Shine
Row: 317, Column: Sun Shine
Row: 318, Column: Sun Shine
Row: 319, Column: Sun Shine
Row: 320, Column: Sun Shine
Row: 321, Column: Sun Shine
Row: 322, Column: Sun Shine
Row: 323, Column: Sun Shine
Row: 324, Column: Sun Shine
Row: 325, Column: Sun Shine
Row: 326, Column: Sun Shine
Row: 327, Column: Sun Shine
Row: 328, Column: Sun Shine
Row: 329, Column: Sun Shine
Row: 330, Column: Sun Shine
Row: 331, Column: Sun Shine
Row: 332, Column: Sun Shine
Row: 333, Column: Sun Shine
Row: 334, Column: Sun Shine
Row: 335, Column: Sun Shine
Row: 336, Column: Sun Shine
Row: 337, Column: Sun Shine
Row: 338, Column: Sun Shine
Row: 339, Column: Sun Shine
Row: 340, Column: Sun Shine
Row: 341, Column: Sun Shine
Row: 342, Column: Sun Shine
Row: 343, Column: Sun Shine
Row: 344, Column: Sun Shine
Row: 345, Column: Sun Shine
Row: 346, Column: Sun Shine
Row: 347, Column: Sun Shine
Row: 348, Column: Sun Shine
Row: 349, Column: Sun Shine
Row: 350, Column: Sun Shine
Row: 351, Column: Sun Shine
Row: 352, Column: Sun Shine
Row: 353, Column: Sun Shine
Row: 354, Column: Sun Shine
Row: 355, Column: Sun Shine
Row: 356, Column: Sun Shine
Row: 357, Column: Sun Shine
Row: 358, Column: Sun Shine
Row: 359, Column: Sun Shine
Row: 360, Column: Sun Shine
Row: 361, Column: Sun Shine
Row: 362, Column: Sun Shine
Row: 363, Column: Sun Shine
Row: 364, Column: Sun Shine
Row: 611, Column: Sun Shine
Row: 615, Column: Sun Shine
Row: 647, Column: Sun Shine
Row: 658, Column: Sun Shine
Row: 664, Column: Sun Shine
Row: 665, Column: Sun Shine
Row: 666, Column: Sun Shine
Row: 667, Column: Sun Shine
Row: 668, Column: Sun Shine
Row: 710, Column: Sun Shine
Row: 730, Column: Sun Shine
Row: 731, Column: Sun Shine
Row: 732, Column: Sun Shine
Row: 733, Column: Sun Shine
Row: 734, Column: Sun Shine
Row: 735, Column: Sun Shine
Row: 736, Column: Sun Shine
Row: 737, Column: Sun Shine
Row: 738, Column: Sun Shine
Row: 739, Column: Sun Shine
Row: 740, Column: Sun Shine
Row: 741, Column: Sun Shine
Row: 742, Column: Sun Shine
Row: 743, Column: Sun Shine
Row: 744, Column: Sun Shine
Row: 745, Column: Sun Shine
Row: 746, Column: Sun Shine
Row: 747, Column: Sun Shine
Row: 748, Column: Sun Shine
Row: 749, Column: Sun Shine
Row: 750, Column: Sun Shine
Row: 751, Column: Sun Shine
Row: 752, Column: Sun Shine
Row: 753, Column: Sun Shine
Row: 754, Column: Sun Shine
Row: 755, Column: Sun Shine
Row: 756, Column: Sun Shine
Row: 757, Column: Sun Shine
Row: 758, Column: Sun Shine
Row: 759, Column: Sun Shine
Row: 760, Column: Sun Shine
Row: 789, Column: Sun Shine
Row: 790, Column: Sun Shine
Row: 791, Column: Sun Shine
Row: 792, Column: Sun Shine
Row: 793, Column: Sun Shine
Row: 794, Column: Sun Shine
Row: 795, Column: Sun Shine
Row: 796, Column: Sun Shine
Row: 797, Column: Sun Shine
Row: 798, Column: Sun Shine
Row: 799, Column: Sun Shine
Row: 800, Column: Sun Shine
Row: 801, Column: Sun Shine
Row: 802, Column: Sun Shine
Row: 803, Column: Sun Shine
Row: 804, Column: Sun Shine
Row: 805, Column: Sun Shine
Row: 806, Column: Sun Shine
Row: 807, Column: Sun Shine
Row: 808, Column: Sun Shine
Row: 809, Column: Sun Shine
Row: 810, Column: Sun Shine
Row: 811, Column: Sun Shine
Row: 812, Column: Sun Shine
Row: 813, Column: Sun Shine
Row: 814, Column: Sun Shine
Row: 815, Column: Sun Shine
Row: 816, Column: Sun Shine
Row: 817, Column: Sun Shine
Row: 818, Column: Sun Shine
Row: 819, Column: Sun Shine
Row: 820, Column: Sun Shine
Row: 821, Column: Sun Shine
Row: 822, Column: Sun Shine
Row: 823, Column: Sun Shine
Row: 824, Column: Sun Shine
Row: 825, Column: Sun Shine
Row: 826, Column: Sun Shine
Row: 827, Column: Sun Shine
Row: 828, Column: Sun Shine
Row: 829, Column: Sun Shine
Row: 830, Column: Sun Shine
Row: 831, Column: Sun Shine
Row: 832, Column: Sun Shine
Row: 833, Column: Sun Shine
Row: 834, Column: Sun Shine
Row: 835, Column: Sun Shine
Row: 836, Column: Sun Shine
Row: 837, Column: Sun Shine
Row: 838, Column: Sun Shine
Row: 839, Column: Sun Shine
Row: 840, Column: Sun Shine
Row: 841, Column: Sun Shine
Row: 842, Column: Sun Shine
Row: 843, Column: Sun Shine
Row: 844, Column: Sun Shine
Row: 845, Column: Sun Shine
Row: 846, Column: Sun Shine
Row: 847, Column: Sun Shine
Row: 848, Column: Sun Shine
Row: 849, Column: Sun Shine
Row: 850, Column: Sun Shine
Row: 851, Column: Sun Shine
Row: 852, Column: Sun Shine
Row: 853, Column: Sun Shine
Row: 854, Column: Sun Shine
Row: 855, Column: Sun Shine
Row: 856, Column: Sun Shine
Row: 857, Column: Sun Shine
Row: 858, Column: Sun Shine
Row: 859, Column: Sun Shine
Row: 860, Column: Sun Shine
Row: 861, Column: Sun Shine
Row: 862, Column: Sun Shine
Row: 863, Column: Sun Shine
Row: 864, Column: Sun Shine
Row: 865, Column: Sun Shine
Row: 866, Column: Sun Shine
Row: 867, Column: Sun Shine
Row: 868, Column: Sun Shine
Row: 869, Column: Sun Shine
Row: 870, Column: Sun Shine
Row: 871, Column: Sun Shine
Row: 872, Column: Sun Shine
Row: 873, Column: Sun Shine
Row: 874, Column: Sun Shine
Row: 875, Column: Sun Shine
Row: 876, Column: Sun Shine
Row: 877, Column: Sun Shine
Row: 878, Column: Sun Shine
Row: 879, Column: Sun Shine
Row: 880, Column: Sun Shine
Row: 881, Column: Sun Shine
Row: 882, Column: Sun Shine
Row: 883, Column: Sun Shine
Row: 884, Column: Sun Shine
Row: 885, Column: Sun Shine
Row: 886, Column: Sun Shine
Row: 887, Column: Sun Shine
Row: 888, Column: Sun Shine
Row: 889, Column: Sun Shine
Row: 890, Column: Sun Shine
Row: 891, Column: Sun Shine
Row: 892, Column: Sun Shine
Row: 893, Column: Sun Shine
Row: 894, Column: Sun Shine
Row: 895, Column: Sun Shine
Row: 896, Column: Sun Shine
Row: 897, Column: Sun Shine
Row: 898, Column: Sun Shine
Row: 899, Column: Sun Shine
Row: 900, Column: Sun Shine
Row: 901, Column: Sun Shine
Row: 902, Column: Sun Shine
Row: 903, Column: Sun Shine
Row: 904, Column: Sun Shine
Row: 905, Column: Sun Shine
Row: 906, Column: Sun Shine
Row: 907, Column: Sun Shine
Row: 908, Column: Sun Shine
Row: 909, Column: Sun Shine
Row: 910, Column: Sun Shine
Row: 911, Column: Sun Shine
Row: 912, Column: Sun Shine
Row: 913, Column: Sun Shine
Row: 914, Column: Sun Shine
Row: 915, Column: Sun Shine
Row: 916, Column: Sun Shine
Row: 917, Column: Sun Shine
Row: 918, Column: Sun Shine
Row: 919, Column: Sun Shine
Row: 920, Column: Sun Shine
Row: 921, Column: Sun Shine
Row: 922, Column: Sun Shine
Row: 923, Column: Sun Shine
Row: 924, Column: Sun Shine
Row: 925, Column: Sun Shine
Row: 926, Column: Sun Shine
Row: 927, Column: Sun Shine
Row: 928, Column: Sun Shine
Row: 929, Column: Sun Shine
Row: 930, Column: Sun Shine
Row: 931, Column: Sun Shine
Row: 932, Column: Sun Shine
Row: 933, Column: Sun Shine
Row: 934, Column: Sun Shine
Row: 935, Column: Sun Shine
Row: 936, Column: Sun Shine
Row: 937, Column: Sun Shine
Row: 938, Column: Sun Shine
Row: 939, Column: Sun Shine
Row: 940, Column: Sun Shine
Row: 941, Column: Sun Shine
Row: 942, Column: Sun Shine
Row: 943, Column: Sun Shine
Row: 944, Column: Sun Shine
Row: 945, Column: Sun Shine
Row: 946, Column: Sun Shine
Row: 947, Column: Sun Shine
Row: 948, Column: Sun Shine
Row: 949, Column: Sun Shine
Row: 950, Column: Sun Shine
Row: 951, Column: Sun Shine
Row: 952, Column: Sun Shine
Row: 953, Column: Sun Shine
Row: 954, Column: Sun Shine
Row: 955, Column: Sun Shine
Row: 956, Column: Sun Shine
Row: 957, Column: Sun Shine
Row: 958, Column: Sun Shine
Row: 959, Column: Sun Shine
Row: 960, Column: Sun Shine
Row: 961, Column: Sun Shine
Row: 962, Column: Sun Shine
Row: 963, Column: Sun Shine
Row: 964, Column: Sun Shine
Row: 965, Column: Sun Shine
Row: 966, Column: Sun Shine
Row: 967, Column: Sun Shine
Row: 968, Column: Sun Shine
Row: 969, Column: Sun Shine
Row: 970, Column: Sun Shine
Row: 971, Column: Sun Shine
Row: 972, Column: Sun Shine
Row: 973, Column: Sun Shine
Row: 974, Column: Sun Shine
Row: 975, Column: Sun Shine
Row: 976, Column: Sun Shine
Row: 977, Column: Sun Shine
Row: 978, Column: Sun Shine
Row: 979, Column: Sun Shine
Row: 980, Column: Sun Shine
Row: 981, Column: Sun Shine
Row: 982, Column: Sun Shine
Row: 983, Column: Sun Shine
Row: 984, Column: Sun Shine
Row: 985, Column: Sun Shine
Row: 986, Column: Sun Shine
Row: 987, Column: Sun Shine
Row: 988, Column: Sun Shine
Row: 989, Column: Sun Shine
Row: 990, Column: Sun Shine
Row: 991, Column: Sun Shine
Row: 992, Column: Sun Shine
Row: 993, Column: Sun Shine
Row: 994, Column: Sun Shine
Row: 995, Column: Sun Shine
Row: 996, Column: Sun Shine
Row: 997, Column: Sun Shine
Row: 998, Column: Sun Shine
Row: 999, Column: Sun Shine
Row: 1000, Column: Sun Shine
Row: 1001, Column: Sun Shine
Row: 1002, Column: Sun Shine
Row: 1003, Column: Sun Shine
Row: 1004, Column: Sun Shine
Row: 1005, Column: Sun Shine
Row: 1006, Column: Sun Shine
Row: 1007, Column: Sun Shine
Row: 1008, Column: Sun Shine
Row: 1009, Column: Sun Shine
Row: 1010, Column: Sun Shine
Row: 1011, Column: Sun Shine
Row: 1012, Column: Sun Shine
Row: 1013, Column: Sun Shine
Row: 1014, Column: Sun Shine
Row: 1015, Column: Sun Shine
Row: 1016, Column: Sun Shine
Row: 1017, Column: Sun Shine
Row: 1018, Column: Sun Shine
Row: 1019, Column: Sun Shine
Row: 1020, Column: Sun Shine
Row: 1021, Column: Sun Shine
Row: 1022, Column: Sun Shine
Row: 1023, Column: Sun Shine
Row: 1024, Column: Sun Shine
Row: 1025, Column: Sun Shine
Row: 1026, Column: Sun Shine
Row: 1027, Column: Sun Shine
Row: 1028, Column: Sun Shine
Row: 1029, Column: Sun Shine
Row: 1030, Column: Sun Shine
Row: 1031, Column: Sun Shine
Row: 1032, Column: Sun Shine
Row: 1033, Column: Sun Shine
Row: 1034, Column: Sun Shine
Row: 1035, Column: Sun Shine
Row: 1036, Column: Sun Shine
Row: 1037, Column: Sun Shine
Row: 1038, Column: Sun Shine
Row: 1039, Column: Sun Shine
Row: 1040, Column: Sun Shine
Row: 1041, Column: Sun Shine
Row: 1042, Column: Sun Shine
Row: 1043, Column: Sun Shine
Row: 1044, Column: Sun Shine
Row: 1045, Column: Sun Shine
Row: 1046, Column: Sun Shine
Row: 1047, Column: Sun Shine
Row: 1048, Column: Sun Shine
Row: 1049, Column: Sun Shine
Row: 1050, Column: Sun Shine
Row: 1051, Column: Sun Shine
Row: 1052, Column: Sun Shine
Row: 1053, Column: Sun Shine
Row: 1054, Column: Sun Shine
Row: 1055, Column: Sun Shine
Row: 1056, Column: Sun Shine
Row: 1057, Column: Sun Shine
Row: 1058, Column: Sun Shine
Row: 1059, Column: Sun Shine
Row: 1060, Column: Sun Shine
Row: 1061, Column: Sun Shine
Row: 1062, Column: Sun Shine
Row: 1063, Column: Sun Shine
Row: 1064, Column: Sun Shine
Row: 1065, Column: Sun Shine
Row: 1066, Column: Sun Shine
Row: 1067, Column: Sun Shine
Row: 1068, Column: Sun Shine
Row: 1069, Column: Sun Shine
Row: 1070, Column: Sun Shine
Row: 1071, Column: Sun Shine
Row: 1072, Column: Sun Shine
Row: 1073, Column: Sun Shine
Row: 1074, Column: Sun Shine
Row: 1075, Column: Sun Shine
Row: 1076, Column: Sun Shine
Row: 1077, Column: Sun Shine
Row: 1078, Column: Sun Shine
Row: 1079, Column: Sun Shine
Row: 1080, Column: Sun Shine
Row: 1081, Column: Sun Shine
Row: 1082, Column: Sun Shine
Row: 1083, Column: Sun Shine
Row: 1084, Column: Sun Shine
Row: 1085, Column: Sun Shine
Row: 1086, Column: Sun Shine
Row: 1087, Column: Sun Shine
Row: 1088, Column: Sun Shine
Row: 1089, Column: Sun Shine
Row: 1090, Column: Sun Shine
Row: 1091, Column: Sun Shine
Row: 1092, Column: Sun Shine
Row: 1093, Column: Sun Shine
Row: 1094, Column: Sun Shine
Row: 1095, Column: Sun Shine
Row: 1096, Column: Sun Shine
Row: 1097, Column: Sun Shine
Row: 1098, Column: Sun Shine
Row: 1099, Column: Sun Shine
Row: 1100, Column: Sun Shine
Row: 1101, Column: Sun Shine
Row: 1102, Column: Sun Shine
Row: 1103, Column: Sun Shine
Row: 1104, Column: Sun Shine
Row: 1105, Column: Sun Shine
Row: 1106, Column: Sun Shine
Row: 1107, Column: Sun Shine
Row: 1108, Column: Sun Shine
Row: 1109, Column: Sun Shine
Row: 1110, Column: Sun Shine
Row: 1111, Column: Sun Shine
Row: 1112, Column: Sun Shine
Row: 1113, Column: Sun Shine
Row: 1114, Column: Sun Shine
Row: 1115, Column: Sun Shine
Row: 1116, Column: Sun Shine
Row: 1117, Column: Sun Shine
Row: 1118, Column: Sun Shine
Row: 1119, Column: Sun Shine
Row: 1120, Column: Sun Shine
Row: 1121, Column: Sun Shine
Row: 1122, Column: Sun Shine
Row: 1123, Column: Sun Shine
Row: 1124, Column: Sun Shine
Row: 1125, Column: Sun Shine
Row: 1126, Column: Sun Shine
Row: 1127, Column: Sun Shine
Row: 1128, Column: Sun Shine
Row: 1129, Column: Sun Shine
Row: 1130, Column: Sun Shine
Row: 1131, Column: Sun Shine
Row: 1132, Column: Sun Shine
Row: 1133, Column: Sun Shine
Row: 1134, Column: Sun Shine
Row: 1135, Column: Sun Shine
Row: 1136, Column: Sun Shine
Row: 1137, Column: Sun Shine
Row: 1138, Column: Sun Shine
Row: 1139, Column: Sun Shine
Row: 1140, Column: Sun Shine
Row: 1141, Column: Sun Shine
Row: 1142, Column: Sun Shine
Row: 1143, Column: Sun Shine
Row: 1144, Column: Sun Shine
Row: 1145, Column: Sun Shine
Row: 1146, Column: Sun Shine
Row: 1147, Column: Sun Shine
Row: 1148, Column: Sun Shine
Row: 1149, Column: Sun Shine
Row: 1150, Column: Sun Shine
Row: 1151, Column: Sun Shine
Row: 1152, Column: Sun Shine
Row: 1153, Column: Sun Shine
Row: 1154, Column: Sun Shine
Row: 1155, Column: Sun Shine
Row: 1156, Column: Sun Shine
Row: 1157, Column: Sun Shine
Row: 1158, Column: Sun Shine
Row: 1159, Column: Sun Shine
Row: 1160, Column: Sun Shine
Row: 1161, Column: Sun Shine
Row: 1162, Column: Sun Shine
Row: 1163, Column: Sun Shine
Row: 1164, Column: Sun Shine
Row: 1165, Column: Sun Shine
Row: 1166, Column: Sun Shine
Row: 1167, Column: Sun Shine
Row: 1168, Column: Sun Shine
Row: 1169, Column: Sun Shine
Row: 1170, Column: Sun Shine
Row: 1171, Column: Sun Shine
Row: 1172, Column: Sun Shine
Row: 1173, Column: Sun Shine
Row: 1174, Column: Sun Shine
Row: 1175, Column: Sun Shine
Row: 1176, Column: Sun Shine
Row: 1177, Column: Sun Shine
Row: 1178, Column: Sun Shine
Row: 1179, Column: Sun Shine
Row: 1180, Column: Sun Shine
Row: 1181, Column: Sun Shine
Row: 1182, Column: Sun Shine
Row: 1183, Column: Sun Shine
Row: 1184, Column: Sun Shine
Row: 1185, Column: Sun Shine
Row: 1186, Column: Sun Shine
Row: 1187, Column: Sun Shine
Row: 1188, Column: Sun Shine
Row: 1189, Column: Sun Shine
Row: 1190, Column: Sun Shine
Row: 1191, Column: Sun Shine
Row: 1192, Column: Sun Shine
Row: 1193, Column: Sun Shine
Row: 1194, Column: Sun Shine
Row: 1195, Column: Sun Shine
Row: 1196, Column: Sun Shine
Row: 1197, Column: Sun Shine
Row: 1198, Column: Sun Shine
Row: 1199, Column: Sun Shine
Row: 1200, Column: Sun Shine
Row: 1201, Column: Sun Shine
Row: 1202, Column: Sun Shine
Row: 1203, Column: Sun Shine
Row: 1204, Column: Sun Shine
Row: 1205, Column: Sun Shine
Row: 1206, Column: Sun Shine
Row: 1207, Column: Sun Shine
Row: 1208, Column: Sun Shine
Row: 1209, Column: Sun Shine
Row: 1210, Column: Sun Shine
Row: 1211, Column: Sun Shine
Row: 1212, Column: Sun Shine
Row: 1213, Column: Sun Shine
Row: 1214, Column: Sun Shine
Row: 1215, Column: Sun Shine
Row: 1216, Column: Sun Shine
Row: 1217, Column: Sun Shine
Row: 1218, Column: Sun Shine
Row: 1219, Column: Sun Shine
Row: 1220, Column: Sun Shine
Row: 1221, Column: Sun Shine
Row: 1222, Column: Sun Shine
Row: 1223, Column: Sun Shine
Row: 1224, Column: Sun Shine
Row: 1225, Column: Sun Shine
Row: 1226, Column: Sun Shine
Row: 1227, Column: Sun Shine
Row: 1228, Column: Sun Shine
Row: 1229, Column: Sun Shine
Row: 1230, Column: Sun Shine
Row: 1231, Column: Sun Shine
Row: 1232, Column: Sun Shine
Row: 1233, Column: Sun Shine
Row: 1234, Column: Sun Shine
Row: 1235, Column: Sun Shine
Row: 1236, Column: Sun Shine
Row: 1237, Column: Sun Shine
Row: 1238, Column: Sun Shine
Row: 1239, Column: Sun Shine
Row: 1240, Column: Sun Shine
Row: 1241, Column: Sun Shine
Row: 1242, Column: Sun Shine
Row: 1243, Column: Sun Shine
Row: 1244, Column: Sun Shine
Row: 1245, Column: Sun Shine
Row: 1246, Column: Sun Shine
Row: 1247, Column: Sun Shine
Row: 1248, Column: Sun Shine
Row: 1249, Column: Sun Shine
Row: 1250, Column: Sun Shine
Row: 1251, Column: Sun Shine
Row: 1252, Column: Sun Shine
Row: 1253, Column: Sun Shine
Row: 1254, Column: Sun Shine
Row: 1255, Column: Sun Shine
Row: 1256, Column: Sun Shine
Row: 1257, Column: Sun Shine
Row: 1258, Column: Sun Shine
Row: 1259, Column: Sun Shine
Row: 1260, Column: Sun Shine
Row: 1261, Column: Sun Shine
Row: 1262, Column: Sun Shine
Row: 1263, Column: Sun Shine
Row: 1264, Column: Sun Shine
Row: 1265, Column: Sun Shine
Row: 1266, Column: Sun Shine
Row: 1267, Column: Sun Shine
Row: 1268, Column: Sun Shine
Row: 1269, Column: Sun Shine
Row: 1270, Column: Sun Shine
Row: 1271, Column: Sun Shine
Row: 1272, Column: Sun Shine
Row: 1273, Column: Sun Shine

In [12]:
# 'Sun Shine' column e '***' ke NaN replace koro
df['Sun Shine'] = df['Sun Shine'].replace('***', pd.NA)

# 'Sun Shine' column ke numeric convert koro (NaN thakbe jekhane '*** chilo)
df['Sun Shine'] = pd.to_numeric(df['Sun Shine'], errors='coerce')

# Mean calculate koro (NaN ignore kore)
mean_val = df['Sun Shine'].mean()

# NaN gula ke mean diye replace koro
df['Sun Shine'].fillna(mean_val, inplace=True)

C:\Users\Hp\AppData\Local\Temp\ipykernel_8212\1800356701.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sun Shine'].fillna(mean_val, inplace=True)

In [13]:
df

            Date  Sun Shine
0     01/01/1981    6.57025
1     02/01/1981    6.57025
2     03/01/1981    6.57025
3     04/01/1981    6.57025
4     05/01/1981    6.57025
...          ...        ...
4378  27/12/1994    6.30000
4379  28/12/1994    6.50000
4380  29/12/1994    8.10000
4381  30/12/1994    7.50000
4382  31/12/1994    7.50000

[4383 rows x 2 columns]

In [14]:
# Je cells e '***' ache segular index list ber korbo
cells_with_stars = []

for row_idx, row in df.iterrows():
    for col in df.columns:
        cell_value = str(row[col])
        if '***' in cell_value:
            cells_with_stars.append((row_idx, col))

if cells_with_stars:
    print("Cells with '***' found at:")
    for cell in cells_with_stars:
        print(f"Row: {cell[0]}, Column: {cell[1]}")
else:
    print("No cells with '***' found.")

No cells with '***' found.

In [15]:
# Replace sesh porjonto file save korte paro
df.to_csv("Sun Shine.csv", index=False)

In [16]:
df

            Date  Sun Shine
0     01/01/1981    6.57025
1     02/01/1981    6.57025
2     03/01/1981    6.57025
3     04/01/1981    6.57025
4     05/01/1981    6.57025
...          ...        ...
4378  27/12/1994    6.30000
4379  28/12/1994    6.50000
4380  29/12/1994    8.10000
4381  30/12/1994    7.50000
4382  31/12/1994    7.50000

[4383 rows x 2 columns]